.cover-text {
    display: flex;
    justify-content: center;
    width: 90%;
}

#back-button {
    position: absolute;
    top: 2vh;
    left: 2vw;
}

.fade-in {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.fade-out {
    -webkit-animation: fadeout 1s;
    animation: fadeout 1s;
}

.recap-item {
    cursor: pointer;
}

.step {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
    width: 100%;
}

.step > .title {
    font-size: 6vw;
}

.step > .recap-instructions {
    font-size: 2vw;
}

.step > .title, .step > .subtitle {
    display: flex;
    cursor: default;
    user-select: none;
}


.fade-item {
    width: 100%;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
}

.quick-fade {
    -webkit-animation: intro 1s;
    animation: intro 1s;
    width: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .step {
        margin-top: 30vh;
        font-size: 6vw;
    }

    .step > .title {
        font-size: 8vw;
    }

    .step > .recap-instructions {
        font-size: 5vw;
    }
    
}

.next {
    -webkit-animation: next 2s cubic-bezier(0.1, 0.7, 1, 1);
    animation: next 1.5s cubic-bezier(0.5, 1, 1, 1);
}

.previous {
    -webkit-animation: previous 2s cubic-bezier(0.1, 0.7, 1, 1);
    animation: previous 1.5s cubic-bezier(0.5, 1, 1, 1);
}

/* @-webkit-keyframes intro { */
@keyframes fadein {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}
    
/* @-webkit-keyframes intro { */
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
    


/* @-webkit-keyframes intro { */
@keyframes intro {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

    /* @-webkit-keyframes intro { */
@keyframes intro2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* @-webkit-keyframes intro { */
@keyframes next {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%);
    }
}

@keyframes previous {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(50%);
    }
}
