.cover-text {
    display: flex;
    justify-content: center;
    width: 90%;
}

.step {
    -webkit-animation: intro 2s;
    animation: intro 2s;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
    width: 100%;
}

.step > .title {
    font-size: 6vw;
}

.step > .title, .step > .subtitle {
    display: flex;
    cursor: default;
    user-select: none;
}


.fade-item {
    width: 100%;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .step {
        font-size: 6vw;
    }

    .step > .title {
        font-size: 8vw;
    }
}

.leave {
    -webkit-animation: leave 2s cubic-bezier(0.1, 0.7, 1, 1);;
    animation: leave 1.5s cubic-bezier(0.5, 1, 1, 1);;
}

/* @-webkit-keyframes intro { */
@keyframes intro {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

/* @-webkit-keyframes intro { */
@keyframes leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes leave2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}