.input {
    background-color: transparent;
    outline: none;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1vh 1vw;
    width: 80%;
    font-size: 3vw;
    font-family: 'Amatic SC', serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.input::placeholder {
    opacity: 0.4;
    color: white;
  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .input {
        font-size: 6vw;
        padding: 1vh 5vw;
    }
}
