.button {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 0 2vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 1vw;
}

.button.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .button {
        padding: 1vh 2vw;
        width: 30vw;
    }
}
